# Node modules
node_modules/


# Site
site/**/*.md
!site/.vuepress/**
!site/README.md

# Vuepress Cache
**/.vuepress/.cache/**
# Vuepress Temp
**/.vuepress/.temp/**
# Vuepress Output
**/.vuepress/dist/**


# Backup files
other/bak/

# Server Info
service/info/

.env
